@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.controls-and-graph {
  grid-template-columns: auto 90dvh;
}

.simulation-aside {
  width: 54px;
  transition: 200ms ease-in-out;
}

.simulation-aside:hover {
  width: 350px;
  transition-delay: 1s;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.styled-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

.styled-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.styled-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.styled-scrollbar::-webkit-scrollbar-track-piece {
  background: transparent;
}

.styled-scrollbar::-webkit-resizer {
  display: none;
}

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
